
<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th>Student</th>
    <th>Grade</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @partition.each do |grade| %>
      <tr>
        <td><%= grade.student.name %></td>
        <td><%= grade.grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>