
<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th>Student</th>
    <th>Grade</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% simple_form_for @partition.each do |grade| %>
      <tr>
        <td><%= grade.student.name %></td>
        <td><%= grade.grade %></td>
        <p></p>
        <%= grade.input :grade, label: "Style grade",  input_html: {class:"form-control"} %>
      </tr>
    <% end %>
  </tbody>
</table>
