<h1>Welcome to AutoGrader!</h1>

<p>Welcome to AutoGrader! Your head TA made an account for you so you can grade a class. Please set your password at the link below.</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, token: @user.reset_token, email: @user.email, host: @request.host_with_port) %>

<p>This link will expire in a week.</p>
