<% provide(:title, @user.name) %>
<div class="row">
      <h1>
        <div class = "pull-left">
        <%= @user.name %> <%= link_to "Reset Password", new_password_reset_path, class: "btn btn-lg btn-primary pull-right" %>
        </div>
      </h1>

</div>
