<% provide(:title, @user.name) %>
<div class="row">
      <h1>
        <div class = "pull-left">
        <%= @user.name %>
        </div>
      </h1>
      <h2>
        <%= link_to "New Assignment", new_assignment_path, class: "btn btn-lg btn-primary pull-right" %>
        </h2>
</div>
