<div class="center jumbotron">
  <p></p>
  <h1><center>Welcome to Auto Grader</center></h1>
  <h2><center><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></center></h2>
</div>
