<h3><%= "Overriding #{@submission.student.name}'s #{@submission.assignment.name}" %></h3>

<%= render 'form', submission: @submission %>

<% if !@submission.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @submission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>
