<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @submission.test_grade %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @submission.attachment %>
</p>


<%= link_to 'Back', submissions_path %>
