<p id="notice"><%= notice %></p>

<h1>Courses</h1>
    <% if !@current_user.taships.empty? && @current_user.professorships.empty?%>
      <%= link_to 'TA view', ta_index_path, html_options= { class: "btn btn-primary", role: "button"} %>
    <% end %>
      <p></p>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <% if(!@courses.nil?) %>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
          <%= link_to 'Show', course, html_options= { class: "btn btn-primary", role: "button"} %>
        </td>
      </tr>
    <% end %>
    <% end %>

  </table>
