<p id="notice"><%= notice %></p>

<h1>Courses</h1>
  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
  Choose user <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% if !@current_user.registrations.empty? && @status == 1 %>
      <li>Go to student</li>
      <% end %>
    <li class="divider"></li>
    <% if !@current_user.taships.empty? && @status == 0 %>
    <li>TA</li>
    <% end %>
  </ul>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
          <%= link_to 'Show', course, html_options= { class: "btn btn-primary", role: "button"} %>
        </td>
      </tr>
    <% end %>

  </table>
