<p id="notice"><%= notice %></p>

<h1>Courses</h1>
  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
  Choose user <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>Student</li>
    <li class="divider"></li>
    <li>TA</li>
    <li class="divider"></li>
    <li>Professor</li>
  </ul>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <% @current_user.registritions.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
          <%= link_to 'Show', show_student, html_options= { class: "btn btn-primary", role: "button"} %>
        </td>
      </tr>
    <% end %>

  </table>
